<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add user</title>
</head>
<body>
<form th:method="POST" th:action="@{/users}" th:object="${user}">
  <label for="name">Enter name: </label>
  <input type="text" th:field="*{name}" id="name"/>
  <br/>
  <label for="lastname">Enter lastname: </label>
  <input type="text" th:field="*{lastName}" id="lastname"/>
  <br/>
  <label for="car">Enter car: </label>
  <input type="text" th:field="*{car}" id="car"/>
  <br/>
  <input type="submit" value="Create"/>
</form>
</body>
</html>