<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>User table</title>
</head>
<body>
<h2>User:</h2>
<div>Name:</div>
<div th:text="${user.name}"></div>
<br>
<div>LastName:</div>
<div th:text="${user.lastName}"></div>
<br>
<div>Car:</div>
<div th:text="${user.car}"></div>
</br>
<form th:method="DELETE" th:action="@{/users/{id}(id=${user.id})}">
  <input type="submit" value="Delete">
</form>
</br>
<form th:method="GET" th:action="@{/users/{id}/edit(id=${user.id})}">
  <input type="submit" value="Edit">
</form>
</br>
<form th:method="GET" th:action="@{/users}">
  <input type="submit" value="Main menu">
</form>
</body>
</html>